a {
    /* color: #787272; */
}

a:hover {
    text-decoration: none;
}

.topnav .navbar-brand {
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.topnav {
    padding-left: 0;
    padding: 10px 0px;
    z-index: 1039;
}

#sidebar-toggle {
    outline: none;
    border: 0;
    background-color: transparent;
}

.plus-icon {
    font-size: 25px;
    color: #8f8f8f;
}

.nav-right {
    flex: 1;
    justify-content: space-between;
    display: flex;
}

#sidebar {
    width: 15rem;
    height: 100vh;
    z-index: 500;
    padding-top: 3.625rem;
    position: fixed;
    top: 0px;
    left: 0;
}

#wp-content {
    flex: auto;
    /* height: calc(100vh - 58px); */
    min-height: 100vh;
    padding-top: 3.625rem;
    padding-left: 15rem;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
}

#content .card-header {
    text-transform: uppercase;
}

.nav-fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

ul#sidebar-menu * {
    list-style: none;
    padding-left: 0;
}

#sidebar-menu {
    padding: 20px 15px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    position: relative;
}

.nav-link.active>a,
.nav-link:hover>li>a {
    color: #0061f2;
}

.nav-link>li>a>i {
    color: #787272;
    font-size: 18px;
}

.nav-link .arrow {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#sidebar-menu .sub-menu {
    padding-left: 22px;
    border-left: 1px dashed #b8b8b8;
    margin-left: 6px;
    display: none;
}

#sidebar-menu .sub-menu li a {
    display: block;
    padding: 5px 0px;
}

#page-body {
    background-color: #e5e9f0;
}

.form-search {
    width: 300px;
}

.table tr td {
    vertical-align: middle;
}

.table-checkall input[type='checkbox'] {
    cursor: pointer;
}

.analytic a {
    position: relative;
    padding-right: 5px;
    margin-right: 5px;
}

.analytic a:not(:last-child):after {
    position: absolute;
    content: '|';
    top: -1px;
    right: -5px;
    color: #8c8c8c;
}

/*DETAIL ORDER*/
.detail-exhibition .section{
    margin-bottom: 20px;
    font-size: 15px;
    padding: 15px;
}
.detail-exhibition .section:last-child{ padding: 0; margin-bottom: 0;}
.detail-exhibition .section .list-item .title, .detail-exhibition .section .section-title{
    position: relative;
    padding-left: 30px;
    /* color: #272727; */
    /* font-family: 'Roboto Medium'; */
    font-weight: 500;
    font-size: 20px;
}
.detail-exhibition .section .list-item .detail{
    color: #302d2d;
    font-size: 14px;
}
.detail-exhibition .section .list-item .detail select{ width: 180px;}
.detail-exhibition .section .list-item li .title:before{
    position: absolute;
    font-family: 'Fontawesome';
    top: 0;
    left: 0;
    color: #07adc6;
    font-size: 17px;
}
.detail-exhibition .section .list-item li:nth-child(1) .title:before{content: '\f02a';}
.detail-exhibition .section .list-item li:nth-child(2) .title:before{content: '\f041';}
.detail-exhibition .section .list-item li:nth-child(3) .title:before{content: '\f23d';}
.detail-exhibition .section .list-item li:nth-child(4) .title:before{ content: '\f1fe';}
.detail-exhibition .section .section-title{
    padding: 0;
    line-height: inherit;
    border-bottom: none;
}
.detail-exhibition .section .section-detail{ padding: 0;}
.detail-exhibition .section .section-detail .list-item{ 
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    list-style: none;; }
.detail-exhibition .section .section-detail .list-item li{ float: left; padding: 12px 24px; border-left: 1px solid #f5f5f5;}
.detail-exhibition .section .section-detail .list-item li:nth-child(1){ width: 20%; text-align: right; border-left: none;}
.detail-exhibition .section .section-detail .list-item li:nth-child(2){ width: 80%; text-align: left;}
.detail-exhibition .section .section-detail .list-item li span{ 
    display: block;
    padding-bottom: 5px;
    /* color: #333; */
    font-size: 14px;
}
.detail-exhibition .section .section-detail .list-item li .total{
    font-size: 16px;
    color: #e60000;
    /* padding-bottom: 0; */
    font-family: 'Roboto Medium';
    font-weight: normal;
}
.detail-exhibition .info-exhibition thead tr td{
    color: #272727;
    font-family: 'Roboto Medium';
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.detail-exhibition .info-exhibition thead tr td:nth-child(1){ width: 5%;}
.detail-exhibition .info-exhibition thead tr td:nth-child(n+4){ width: 12%;}
.detail-exhibition .info-exhibition tbody tr td{ color: #333; font-size: 14px; vertical-align: middle; text-align: center;}
.detail-exhibition .info-exhibition tbody tr td:nth-child(2) .thumb{ display: inline-block;}
.detail-exhibition .info-exhibition tr td:nth-child(2){ width: 15%; text-align: center;}
.detail-exhibition .info-exhibition tr td:nth-child(5) { text-align: center;}
.table{ margin-bottom: 0!important;}
.detail-exhibition .thumb{ margin-top: 0!important;}
.detail-exhibition .section#info .list-item li{ margin-bottom: 10px;}
.detail-exhibition .section#info .list-item li:last-child{ margin-bottom: 0!important;}
.info-exhibition .thumb img{ width: 80px; height: 80px; border: 1px solid #ccc;}
#info select{
    border: 1px solid #ccc;
    padding: 5px 20px;
    font-size: 13px;
    color: #666;
    border-radius: 3px;
}
#info input[type="submit"]{
    font-size: 13px;
    padding: 3px 10px;
    border: none;
    background: #0183f3;
    color: #fff;
    font-family: 'Roboto Medium';
    font-weight: normal;
    line-height: 23px;
    border-radius: 3px;
}
.detail-exhibition .section .section-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: #3b9aff;
    margin-bottom: 20px;
}

#main-content-wp{
    padding: 20px;
}

.section ul.list-item{
    list-style: none;
}